<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/user_registration.css">
    <title>user registartion</title>
</head>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <center><b>{{ message }}</b></center>
    {% endfor %}
  {% endif %}
{% endwith %}
<body>
  <a href="{{url_for('index')}}">
    <button class="back"><i class="fa-solid fa-arrow-left"></i>Back</button>
  </a>
  <div class="container">

    <h3>User Registration</h3>
    <div class="form">
    <form method="POST" href="{{url_for('uregistration')}}">
        <label>Username</label>
        <input type="text" name="username" placeholder="Enter Username combination of text, special charaters,numbers" required>
        <label>Email</label><input type="email" name="email" placeholder="Enter Email" required>
        <label>Password</label><input type="password" name="password" placeholder="Enter Password" required>
        <button class="signup" type="submit">Sign up</button>
    </form>
    <a href="{{url_for('ulogin')}}">Already have an account?</a>
  </div>
</div>
<script src="https://kit.fontawesome.com/8e56515553.js" crossorigin="anonymous"></script>
</body>
</html>